@import '../scss/mixins.scss';

.footer_wrapper {
	background: #0A0D0B;
	.footer_container {
		@media  screen and(max-width: 500px) {
			ul:nth-child(2), ul:nth-child(3) {
					display: none;
				}
			ul {
				border-right: none !important;
				padding-right: 0 !important;
			}
		}
		max-width: 1920px;
		margin: 0 auto;
		padding: rem(30) rem(20);
		display: flex;
		justify-content: space-evenly;
		gap: rem(30);
		ul {
			display: flex;
			flex-direction: column;
			gap: rem(20);
			color: #fff;
			padding-right: rem(50);
			border-right: 1px solid #fff;
			&:first-child li:first-child {
				font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-size: rem(24);
				color: #6C983C;
			}
			&:first-child li:last-child {
				font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-size: rem(14);
				line-height: 1.2em;
				opacity: 0.5;
			}
		}
		ul:last-child {
			padding-right: 0px;
			border-right: none;
		}
		a {
			text-decoration: none;
			color: #fff;
			font-size: rem(16);
			line-height: 1.2em;
			transition: text-shadow .2s ease-in-out;
			&:hover {
				border-bottom: 1px solid #fff;
			}
		}
}
}


